// .bg {
//     background-image: url("../../../../../images/jluzh_view.png");
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center center;
// }
// .logo {
//     position: fixed;
//     top: 0;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     background-image: url("../../../../../images/jluzh_view.png");
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: 0 0;
// }
.auth {
    position: fixed;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    .title-info {
        width: 800px;
        margin: 80px auto 50px;
        // margin-top: 80px;
        // margin-bottom: 50px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        img {
            // float: center;
            // float: left;
            margin-right: 110px;
        }
        .title {
            // margin-left: 50px;
            font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        }
    }
    .content {
        display: block;
        width: 800px;
        min-height: 430px;
        margin: 0 auto;
        background-image: url("../../../../../images/jluzh_view.png");
        background-repeat: no-repeat;
        background-size: 430px;
        .from {
            float: right;
            width: 360px;
        }
    }
    .item {
        margin-bottom: 16px;
    }
    // a-button {
    //     color: #B40605;
    //     width: 200px;
    // }
    // .item:hover {
    //     border: solid 1px #B40605;
    // }
}